/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
html, body{
	background:url(../images/bg.jpg)no-repeat;
	background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
	font-family: 'Roboto Condensed', sans-serif;
   	font-size: 100%;
}
/*--- Header Part Starts Here --*/
.header{
	margin-top:3em;
}
.header-top{
	background:#181818;
}
.logo{
	float:left;
}
.navigation{
	float:right;
}
ul.navig{
	padding:o;
	margin:1.5em 2em 0;
}
ul.navig li{
	display: inline-block;
	margin-right:1em;
}
ul.navig li a{
	text-transform:uppercase;
	font-size:14px;
	color:#fff;
	text-decoration:none;
	font-family: 'Doppio One', sans-serif;
	font-weight:400;
	padding:10px 15px;
}
ul.navig li a:hover, .active{
	background:#8f746c;
	padding:10px 15px;
	border-radius:8px;
	-webkit-border-radius:8px;
	-o-border-radius:8px;
	-moz-border-radius:8px;
	-ms-border-radius:8px;
}
.banner{
	background:url(../images/slide1.jpg) no-repeat;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
	-o-background-size:cover;
	min-height:700px;
	text-align:center;
	padding:15em 0;
}
.banner1{
	background:url(../images/slide2.jpg) no-repeat;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
	-o-background-size:cover;
	text-align:center;
}
.banner2{
	background:url(../images/slide3.jpg) no-repeat;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
	-o-background-size:cover;
	text-align:center;
}
.banner h1, .banner h2{
	font-size:4em;
	text-transform:uppercase;
	color:#fff;
	margin:0;
}
/*----strat-slider-----*/
.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
	background: url(../images/slide-bg.jpg) no-repeat 0px 0px;
	min-height: 364px;
	background-size: cover;
  }
  
.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	left: 0%;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  border: 0;
  }
 #slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
  }

.rslides_tabs {
  	text-align: left;
	position: absolute;
	top: 75%;
	/* right: 0px; */
	left: 24%;
	z-index: 999
  }
.rslides_tabs li {
  float: left;
  list-style:none;
  margin-right:2em;
  }
.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
  }

.rslides_tabs li:first-child {
  margin-left: 0;
  }

.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  }


#slider3-pager a{
  display: inline-block;
}

#slider3-pager img {
  float: left;
}

#slider3-pager .rslides_here a {
  background: transparent;
}
#slider3-pager a{
  padding: 0;
}

 /*----*/
.slider{
	position:relative;
}
li.rslides1_s1.rslides_here a, li.rslides1_s2.rslides_here a, li.rslides1_s3.rslides_here a{
	border:3px solid #8f746c;
}
li.rslides1_s1 a, li.rslides1_s2 a, li.rslides1_s3 a{
	border:3px solid #fff;
}
/*--- Slider Ends Here --*/
/*-- Best seller Starts Here ---*/
.best-seller {
	background: #fff;
}
.seller-column{
	text-align:center;
	width:50%;
	float:left;
	position:relative;
}
.sale-box{
	position: absolute;
	top: 0;
	overflow: hidden;
	height: 130px;
	width: 130px;
	text-align: center;
	z-index: 0;
}
.sale-box span.on_sale{
	font-size: 0.85em;
	color: #fff;
	background: #446720;
	text-transform: uppercase;
	padding: 4px 0px 0 19px;
	width: 216px;
	text-align: center;
	display: block;
	position: absolute;
	left: -62px;
	top: 48px;
	z-index: 1;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-webkit-transform: rotate(-44deg);
	-ms-transform: rotate(-44deg);
	transform: rotate(-44deg);
	font-family: 'Roboto', sans-serif;
}
img.seller-img{
	margin-top:3em;
}
.seller-column1{
	background:#e6ddda;
	min-height:293px;
	float:left;
	width:50%;
	position:relative;
	padding:2em 2em 1em;
	z-index: 0;
}
.seller-column1 h3{
	font-size:11em;
	color:rgba(218, 210, 207, 0.38);
	position: absolute;
	top: -8%;
	right: 0;
	font-weight:800;
	text-transform:uppercase;
	font-family: 'Oswald', sans-serif;
	z-index: -4;
}
span.sale-nip{
	width:25px;
	height:30px;
	position:absolute;
	top: 13%;
	left: -5%;
	border-left: 24px solid rgba(0, 0, 0, 0);
	border-top: 19px solid #e6ddda;
	border-right: 19px solid rgba(0, 0, 0, 0);
	transform: rotate(94deg);
}
.seller-column1 h4{
	font-family: 'Doppio One', sans-serif;
	font-weight:400;
	font-size:1.3em;
	color:#000;
	margin:0;
}
.seller-column1 small{
	font-family: 'Doppio One', sans-serif;
	font-weight:400;
	font-style: italic;
	color:#b29e98;
	font-size:0.875em;
}
.seller-column1 p{
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 4.5em;
	color: #000;
	padding-top: 0.2em;
	
}
.price {
	margin: 1em 0 2em;
}
.price a{
	font-family: 'Doppio One', sans-serif;
	font-weight:400;
	text-transform: uppercase;
	text-decoration:none;
	font-size:1em;
	color:#987f77;
	border:2px solid #987f77;
	padding:10px 20px;
}
.price a:hover {
	border: 2px solid #fff;
	color: #fff;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-moz-transition:0.5s all;
	-ms-transition:0.5s all;
}
span.rating{
	font-family: 'Doppio One', sans-serif;
	font-weight:400;
	font-size:1em;
	color:#000;
	margin:0 1em 0 3em;
}
i.ratings{
	height: 15px;
	width: 111px;
	background: url(../images/stars.png)no-repeat 2px;
	display: inline-block;
}
p.customer{
	font-size:1em;
	color:#000;
	font-family: 'Doppio One', sans-serif;
	font-weight:400;
}
/*-- Best seller Ends Here ---*/
/*--Bi seller slide Starts ---*/
.biseller-column {
	text-align: left;
	padding: 1em 1em 1em 2em;
}
.biseller-column img{
	margin-bottom:2em;
	width:100%;
}
.biseller-name{
	text-align:left;
	float: left;
	width:65%;
}
.biseller-name h4{
	font-family: 'Doppio One', sans-serif;
	font-weight:400;
	font-size:1.3em;
	color:#000;
	margin:0 0 10px 0;
}
.biseller-name small{
	font-family: 'Doppio One', sans-serif;
	font-weight:400;
	font-style: italic;
	color:#b29e98;
	font-size:0.875em;
}
.biseller-name1{
	float:left;
	width:30%;
}
.biseller-name1 p{
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 1.2em;
	color: #000;
	margin-top:1em;
}
 #flexiselDemo3 {
	display: none;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}
.nbs-flexisel-inner {
	overflow: hidden;
	margin: 0 auto;
}
.nbs-flexisel-item {
	float: left;
	margin:0px;
	padding:0px;
	cursor: pointer;
	position: relative;
	line-height: 0px;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	position: relative;
	margin-top:10px;
	margin-bottom: 10px;
	max-width:250px;
	max-height:500px;
}
.grid-flex{
	margin:10px 0 20px 0;
	font-family: 'Roboto', sans-serif;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	positon: relative;
}
.biseller-info {
	margin: 2em 0 0;
}
/*** Navigation ***/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
	width: 47px;
	height: 75px;
	position: absolute;
	cursor: pointer;
	z-index: 100;
	margin-top:-2em;
}
.nbs-flexisel-nav-left {
	left: 0px;
	background: url(../images/img-sprite.png) no-repeat -15px -113px;
}
.nbs-flexisel-nav-right {
	right: 0px;
	background: url(../images/arw.png) no-repeat ;
}
.price-s {
	margin: 3em 0;
	text-align: left;
}
.price-s a{
	font-family: 'Doppio One', sans-serif;
	font-weight:400;
	text-transform: uppercase;
	text-decoration:none;
	font-size:1em;
	color:#987f77;
	border:2px solid #987f77;
	padding:10px 15px;
}
.price-s a:hover{
	border:2px solid #446720;
	color:#446720;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-moz-transition:0.5s all;
	-ms-transition:0.5s all;
}
/*-- Footer starts Here ---*/
.footer{
	background:url(../images/bottom-bg.jpg)no-repeat;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
	-o-background-size:cover;
	min-height:400px;
	border-top:3px solid #d4c9c6;
	border-bottom:3px solid #d4c9c6;
	text-align:center;
	padding-top:13em;
}
.footer a{
	color:#fff;
	font-family: 'Doppio One', sans-serif;
	font-weight:400;
	font-size:2em;
	text-transform: uppercase;
	border:2px solid #fff;
	padding:10px 20px;
	text-decoration:none;
}
.footer a:hover{
	border:2px solid #ee4a02;
	color:#ee4a02;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-moz-transition:0.5s all;
	-ms-transition:0.5s all;
}
.footer-top{
	padding:2em 0;
	background:#fff;
	text-align:center;
}
ul.bottom-list{
	padding:0;
}
ul.bottom-list li{
	display: inline-block;
	margin: 0 10px;
}
ul.bottom-list li a{
	text-decoration: none;
	text-transform:uppercase;
	font-size:0.875em;
	font-family: 'Doppio One', sans-serif;
	font-weight:400;
	color:#39353c;
}
ul.bottom-list li a:hover{
	color:#446720;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
ul.payment-list{
	padding:0;
	text-align:center;
	margin-top:0em;
	margin-bottom:0.5em;
}
ul.payment-list li{
	display: inline-block;
	margin:0 2px;
}
ul.payment-list li i{
	width:50px;
	height:45px;
	background:url(../images/payment-icons.png) no-repeat;
	display: inline-block;
	cursor:pointer;
}
ul.payment-list li i.paypal{
	background-position:-2px 0px;
}
ul.payment-list li i.wi{
	background-position:-51px 0px;
}
ul.payment-list li i.visa{
	background-position:-97px 0px;
}
ul.payment-list li i.amazon{
	background-position:-145px 0px;
}
ul.payment-list li i.sm{
	background-position:-197px 0px;
}
img.veiw-img{
	position:relative;
} 
.veiw-img-mark{
	position:absolute;
	top:30%;
	left:38%;
	display: none;
}
.veiw-img-mark a{
	background:#ee4a02;
	padding:10px;
	color:#000;
	font-size:0.85em;
	font-weight:800;
	text-decoration:none;
	text-transform:uppercase;
}
.biseller-column:hover div.veiw-img-mark{
	display: block;
}
p.copyright{
	font-size:14px;
	color:#fff;
	text-align:center;
	margin-bottom:5em;
}
p.copyright a{
	color:#ee4a02;
	text-decoration:none;
}
p.copyright a:hover{
	color:#fff;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-ms-transition:0.5s all;
	-o-transition:0.5s all;
}
.prody {
	background: #fff;
	padding: 2em;
}
/*---- About Us Starts Here ---*/
.about{
	min-height:800px;
	margin-top:1em;
}
/*--- Responsive Tabs ---*/
/******** SAP ************/
.sap_tabs{
	clear:both;
	padding: 1em 0 4em;
	font-family: 'Roboto', sans-serif;
}
.facts {
	border: 1px solid #E6E6E6;
}
.top1{
	margin-top: 2%;
}
.resp-tabs-list {
	width: 100%;
	list-style: none;
	padding: 0;
}
.resp-tab-item:first-child{
	border-left:none;
}
.resp-tab-item{
	color: #777;
	font-size: 0.8125em;
	cursor: pointer;
	padding: 12px 10px;
	display: inline-block;
	margin: 0;
	text-align: center;
	list-style: none;
	float: left;
	outline: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	text-transform: uppercase;
}
.resp-tab-item:hover {
	text-shadow: none;
	color: #F27141;
}
.resp-tab-active{
	background:#ee4a02;
	text-shadow: none;
	color:#fff;
}
.resp-tabs-container {
	padding: 0px;
	clear: left;
}
h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}
.resp-tab-content {
	display: none;
}
.resp-content-active, .resp-accordion-active {
   display: block;
}
h2.resp-accordion {
	font-size:1em;
	margin: 0px;
	padding: 10px 15px;
	background:#f77462;
	margin:10px 0;
	color:#fff;
}
h2.resp-accordion:hover{
	background:#6CC5D9;
	text-shadow: none;
	color: #FFF;
}
@media only screen and (max-width:480px) {
.sap_tabs{
	padding-top:0;
}
.resp-tabs-container{
	padding:10px;
}
ul.resp-tabs-list {
  	display: none;
}
h2.resp-accordion {
  	display: block;
}
.resp-vtabs .resp-tab-content {
  	border: 1px solid #C1C1C1;
}
.resp-vtabs .resp-tabs-container {
	border: none;
	float: none;
	width: 100%;
	min-height: initial;
	clear: none;
}
.resp-accordion-closed {
	display: none !important;
}
}
ul.tab_list{
	list-style: none;
	padding:1em;
}
ul.tab_list li {
	margin-bottom: 10px;
}
ul.tab_list li a {
	color: #888;
	font-size: 0.8125em;
	line-height: 1.8em;
	vertical-align: top;
	text-decoration: none;
}
ul.tab_list li a:hover {
	color:#333;
}
/*--- Responsive Tabs ---*/
/*--- Login ---*/
.account_grid {
	margin-bottom:2em;
}
.login-left {
	padding: 0 1em 0;
}
.login-left h3, .login-right h3 {
	color: #000;
	font-size: 1em;
	padding-bottom: 0.5em;
	font-weight: bold;
}
.login-left p, .login-right p {
	color: #555;
	display: block;
	font-size: 0.8em;
	margin: 0 0 1.5em 0;
	line-height: 1.8em;
}
.login-left p, .login-right p {
	color: #555;
	display: block;
	font-size: 0.8em;
	margin: 0 0 1.5em 0;
	line-height: 1.8em;
}
.prodys {
	min-height: 300px!important;
}
.login-right{
	padding:0;
}
.login-right form div {
	padding: 0 0 0.5em 0;
}
.login-right span {
	color: #555;
	font-size: 0.8125em;
	padding-bottom: 0.2em;
	display: block;
	text-transform: uppercase;
}
.login-right input[type="text"] ,.login-right input[type="password"] {
	border: 1px solid #EEE;
	outline-color: #fb4d01;
	width: 96%;
	font-size: 0.8125em;
	padding: 0.5em;
}
.login-right input[type="submit"] {
	background: #fb4d01;
	color: #FFF;
	font-size: 0.8em;
	padding: 0.7em 1.2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
	border: none;
	outline: none;
}
.acount-btn {
	background: #fb4d01;
	color: #FFF;
	font-size: 0.8em;
	padding: 0.7em 1.2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
}
a.forgot {
	font-size: 0.8125em;
}
.acount-btn:hover, .login-right input[type="submit"]:hover {
	background: #26d2fc;
	text-decoration: none;
	color: #fff;
}
/*--- Login ---*/
/*-- Register ---*/
.register{
	padding:2em 0;
	font-family: 'Roboto', sans-serif;
}
.register-top-grid h3, .register-bottom-grid h3 {
	color:#FF5B36;
	font-size: 1em;
	padding-bottom: 5px;
	margin: 0;
}
.register-top-grid div, .register-bottom-grid div {
	width: 48%;
	float: left;
	margin: 10px 0;
}
.register-top-grid span, .register-bottom-grid span {
	color:#555;
	font-size: 0.8125em;
	padding-bottom: 0.2em;
	display: block;
	text-transform: uppercase;
}
.register-top-grid input[type="text"], .register-bottom-grid input[type="password"]{
	border: 1px solid #EEE;
	outline-color:#FF5B36;
	width: 96%;
	font-size: 1em;
	padding: 0.5em;
}
.checkbox {
	margin-bottom: 4px;
	padding-left: 27px;
	font-size: 1.1em;
	line-height: 27px;
	cursor: pointer;
}
.checkbox {
	float: left;
	position: relative;
	font-size: 0.85em;
	color:#555;
}
.checkbox:last-child {
	margin-bottom: 0;
}
.news-letter {
	color: #555;
	font-weight:600;
	font-size: 0.85em;
	margin-bottom: 1em;
	display: block;
	text-transform: uppercase;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	clear: both;
}
.checkbox i {
	position: absolute;
	bottom: 5px;
	left: 0;
	display: block;
	width:20px;
	height:20px;
	outline: none;
	border: 2px solid #D2CF99;
}
.checkbox input + i:after {
	content: '';
	background: url("../images/tick1.png") no-repeat 1px 2px;
	top: -1px;
	left: -1px;
	width: 15px;
	height: 15px;
	font: normal 12px/16px FontAwesome;
	text-align: center;
}
.checkbox input + i:after {
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}
.checkbox input {
	position: absolute;
	left: -9999px;
}
.checkbox input:checked + i:after {
	opacity: 1;
}
.news-letter:hover {
	color:#00BFF0;
}
.register-but{
	margin-top:1em;
}
.register-but form input[type="submit"] {
	background:#fb4d01;
	color: #FFF;
	font-size: 0.8em;
	padding: 0.8em 2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
	border:none;
	outline:none;
}
.register-but input[type="submit"]:hover {
	background:#26d2fc;
}
div.register-bottom-grid {
	margin-top:3em;
}
/*-- Register ---*/
.product{
	width:20%;
	margin-right:2%;
	float:left;
}
.product-listy{
	background:#ee4a02;
}
ul.product-list{
	padding:0em 0 0.5em 0;
	margin:0.5em 0;
}
ul.product-list li{
	display: block;
	margin:5px 0;
}
ul.product-list li a{
	color:#FFF;
	text-transform:uppercase;
	font-size:0.85em;
	text-decoration:none;
	padding:.4em 2em;
	font-family: 'Doppio One', sans-serif;
	font-weight:400;
	display: block;
}
ul.product-list li a:hover{
	background:#000;
	color:#fff;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-moz-transition:0.5s all;
	-ms-transition:0.5s all;
}
.product-listy h3{
	color:#fff;
	background:#000;
	font-size:0.85em;
	padding:2em;
	font-family: 'Doppio One', sans-serif;
	font-weight:400;
	text-transform:uppercase;
}
.latest-bis {
	margin: 1.5em 0;
	position:relative;
}
.offer{
	position:absolute;
	bottom: 13%;
	right: 2%;
}
.offer p{
	font-size:2em;
	color:#fff;
	background:#446720;
	padding: 15px 8px;
	border-radius:50%;
	font-family: 'Doppio One', sans-serif;
	font-weight:400;
}
.offer small{
	color: #d2b096;
	font-size: 1.2em;
}
.tags{
	list-style:none;
	background:#fff;
	margin-top:2em;
	padding:1em;
	font-family: 'Doppio One', sans-serif;
	font-weight:400;
}
h4.tag_head{
	color: #333;
	font-weight: bold;
	font-size: 1.3em;
	margin-bottom: 1em;
}
ul.tags_links{
	padding:0;
	list-style:none;
}
ul.tags_links li {
	display: inline-block;
	margin: 8px 3px;
}
ul.tags_links li a {
	color:#333;
	font-size:0.8125em;
	background: #e9e9e9;
	padding: 5px 10px;
}
ul.tags_links li a:hover{
	text-decoration:none;
}
ul.tags_links li a:hover{
	background:#446720;
	color:#fff;
}
.link1 {
	font-size: 0.85em;
	line-height: 18px;
	color: #333;
	font-weight: bold;
	background: url(../images/tag_arrow.png) right 4px no-repeat;
	padding-right: 20px;
	margin-top:1.5em;
	display: inline-block;
}
.link1:hover{
	color:#fb4d01;
	text-decoration:none;
}
.new-product{
	width:78%;
	float:right;
	background:#fff;
	min-height:800px;
	padding:2em;
}
ul.product-top-list{
	padding:0;
	float: left;
}
ul.product-top-list li{
	display: inline-block;
	font-size:0.82em;
	color:#777;
}
ul.product-top-list li a{
	color:#000;
}
ul.product-top-list li span.act{
	background:yellow;
}
p.back{
	float: right;
	font-size:0.82em;
}
.new-product-top {
	padding: 0em 0 2em;
}
.labout {
	display: block;
	float: left;
	width:49%;
}
.span_2_of_al{
	width: 49%;
	float: right;
}
.span_2_of_al h3 {
	color: #333;
	text-transform: uppercase;
	font-size: 1.7em;
	font-weight: bold;
}
ul.ratings{
	padding: 0;
	margin-top:1em;
}
ul.ratings li{
	display: inline-block;
}
ul.ratings li a{
	font-size: 0.87em;
	color: #000;
	text-decoration: none;
	font-weight: 600;
}
i.rating-ed{
	background: url(../images/stars.png)no-repeat -9px;
}
.price_single {
	font-size: 1.3em;
	margin: 0.5em 0 1.5em;
	font-family: 'Doppio One', sans-serif;
	font-weight:400;
}
span.reducedfrom {
	text-decoration: line-through;
	margin-right: 3%;
	color: #555;
}
span.actual {
	color: #ee4a02;
	font-size: 1em;
	margin-right: 5%;
}
.price_single a {
	color: #999;
	font-size: 13px;
}
h2.quick {
	color: #555;
	font-size: 0.85em;
	text-transform: uppercase;
}
p.quick_desc {
	color: #999;
	font-size: 0.8125em;
	line-height: 1.8em;
}
ul.product-qty {
	padding: 0;
	list-style: none;
}
.product-qty span {
	color: #555;
	font-size: 0.85em;
	padding-bottom: 0.5em;
	display: block;
	text-transform: uppercase;
	margin-top: 2em;
}
.product-qty select {
	border: 1px solid #eee;
	padding: 0.5em;
	font-size: 1em;
	outline: none;
}
.btn_form form input[type="submit"] {
	cursor: pointer;
	border: none;
	outline: none;
	display: inline-block;
	font-size: 1em;
	padding: 13px 20px;
	background: none;
	color: #000;
	border:2px solid #fb4d01;
	text-transform: uppercase;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	margin-top: 2em;
}
.btn_form form input[type="submit"]:hover{
	border:2px solid #d2b096;
}
.abt-ft{
	margin-top:2em;
}
.singel_right {
	margin-bottom: 2em;
}
h3.new-models {
	font-size: 1.2em;
	background: #ee4a02;
	padding: 5px;
	font-weight: 600;
	color:#fff;
}
/*---- About Us Ends Here ---*/
/*--- Bikes Starts Here --*/
.today-new-left{
	width:30%;
	float:left;
	border: 3px solid #e6ddda;
	margin-right: 2%;
	margin-top: 2%;
	position:relative;
}
span.on_sale.title_shop:hover {
	background: yellowgreen;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.new-topday {
	margin-bottom: 2em;
}
/*---- Best Buy Starts Here ---*/
.mens-toolbar {
	font-family: 'Roboto', sans-serif;
	margin-bottom: 2em;
}
.mens-toolbar .sort {
	float: left;
	width: 20.5%;
}
.sort-by {
	color: #000;
	font-size: 0.7125em;
	text-transform: uppercase;
}
.sort-by label {
	font-weight: normal;
}
ul.women_pagenation.dc_paginationA.dc_paginationA06 {
	float: right;
	padding: 0;
	list-style: none;
}
ul.women_pagenation li {
	float: left;
	margin: 0px;
	margin-left: 5px;
	padding: 0px;
	list-style: none;
}
ul.women_pagenation li a {
	color: #000;
	display: block;
	padding: 4px 8px;
	text-decoration: none;
	font-size: 0.7125em;
	text-transform: uppercase;
}
ul.women_pagenation li.active a, ul.women_pagenation li a:hover {
	background: #3C3038;
	color: #fff;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-moz-transition:0.5s all;
	-ms-transition:0.5s all;
}
.sort-by select {
	outline: none;
}
.pages {
	float: right;
}
.pages .limiter {
	color: #000;
	font-size: 0.7125em;
	text-transform: uppercase;
}
.pages .limiter label {
	vertical-align: middle;
}
.pages .limiter select {
	padding: 0;
	margin: 0 0 1px;
	vertical-align: middle;
}
.limiter.visible-desktop label {
	font-weight: normal;
	margin: 0;
}
.view {
	overflow: hidden;
	position: relative;
	text-align: center;
}
.inner_content {
	background: #fff;
	position: relative;
}
.product_image {
	border: 10px solid #f8f8f8;
}
.view-first .mask {
	ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	background-color: rgba(219,127,8, 0.7);
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	padding: 10px 15px;
	background: rgba(255, 255, 255, 0.82);
	-moz-box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px;
	box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px;
	color: #000;
	font-size: 0.85em;
	font-weight: bold;
}
.product_container {
	padding: 1em;
}
.cart-left {
	float: left;
	margin-right: 2.6%;
}
p.title {
	color: #000;
	font-size: 0.95em;
	font-weight: bold;
}
.pricey {
	float: right;
	font-weight: bold;
	font-size: 0.95em;
}
.view-first:hover .mask {
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
.view .mask, .view .content {
	position: absolute;
	overflow: hidden;
	top: 10em;
	left: 6.2em;
}
/*--- Contact- Starts Here ---*/
.singel_right {
	margin-top: 0em;
}
.span_1_of_contact {
	width: 60.1%;
	font-family: 'Roboto', sans-serif;
	float:left;
}
p.comment-form-author {
	margin-bottom: 2em;
}
.contact-form label {
	display: block;
	font-size: 0.8125em;
	color: #000;
	text-transform: uppercase;
}
.contact-form input[type="text"] {
	padding: 10px;
	width: 95%;
	color: #9198A3;
	font-size: 0.8125em;
	background: #fff;
	outline: none;
	display: block;
	border: 1px solid #eee;
}
.contact-form textarea {
	padding: 10px;
	display: block;
	width: 95%;
	background: #fff;
	border: 1px solid #eee;
	outline: none;
	color: #9198A3;
	font-size: 0.8125em;
	-webkit-appearance: none;
	resize: none;
	height: 150px;
}
.contact-form input[type="submit"] {
	display: inline-block;
	padding: 13px 25px;
	background: #ee4a02;
	color: #FFF;
	font-size: 1em;
	line-height: 18px;
	text-transform: uppercase;
	border: none;
	outline: none;
	transition: 0.2s;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
}
.contact-form input[type="submit"]:hover{
	background:#3C3038;
}
.contact_grid {
	display: block;
	float: left;
	width: 37%;
}
.span_2_of_contact_right h3 {
	font-size: 1em;
	font-weight: bold;
	color: #000;
	margin-bottom: 1.5em;
}
.address {
	margin-bottom: 1em;
}
.contact_address, .contact_email {
	overflow: hidden;
	font-size: 0.8125em;
	color: #999;
	line-height: 1.5em;
}
.contact_email a{
	color: #999;
	text-decoration:none;
}
.contact_email a:hover{
	color:#3C3038;
	transition: 0.2s;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
}
.map{
	margin:2em 0;
}
.map iframe{
	width:100%;
	height:350px;
}
@media (max-width:1440px){


}
/*--- Media Queries Starts Here ---*/
@media (max-width:1080px){
	.span_2_of_al h3 {
    font-size: 1.3em;
	}
	.labout {
    width: 46%;
	}
	.span_2_of_al {
    width: 51%;
	}
	.btn_form form input[type="submit"] {
    font-size: .8em;
    padding: 7px 11px;
    margin-top: 1.2em;
	}
	.product-qty select {
    padding: 0.3em;
	}
	.product-qty span {
    margin-top: 1em;
	}
	.price_single {
    margin: 0.5em 0 1.2em;
	}
	h4.tag_head {
		margin-bottom: .5em;
	}
	.tags {
		padding: .8em;
	}	
	ul.tags_links li {
		margin: 6px 2px;
	}
	ul.tags_links li a {
		padding: 5px 6px;
	}	
}
@media (max-width:1024px){
	.banner {
		min-height: 473px;
		padding: 5em 0;
	}
	.rslides_tabs {
		top: 71%;
		left: 19%;
	}
	.seller-column1 p {
		font-size: 4em;
	}
	.price a {
		font-size: 0.85em;
		padding: 10px 11px;
	}
	span.rating {
		font-size: 0.85em;
		margin: 0 1em 0 2em;
	}
	p.customer{
		font-size:0.85em;
	}
	img.v-middle {
		display: none;
	}
	
	.span_2_of_al h3 {
		font-size: 1.3em;
	}
	ul.ratings li a {
		font-size: 0.7em;
	}
	.price_single {
		font-size: 1em;
	}
	span.sale-nip {
		left: -7%
	}
	.view .mask, .view .content {
		top: 9em;
		left: 4.2em;
	}
	p.title {
		font-size: 0.8em;
	}
	.pricey {
		font-size: 0.8em;
	}
	.header {
		margin-top: 2em;
	}
}
@media (max-width:991px){
	.labout {
    width: 73%;
	}
	.span_2_of_al {
		width: 100%;
		margin-top: 15px;
	}
}
@media (max-width:800px){
	.product-qty span {
    padding-bottom: 1em;
	}
	.product-listy h3 {
		padding: 1.5em;
	}
	ul.product-list li a {
		padding: .4em 1.5em;
	}
	ul.tags_links li a {
		padding: 5px 8px;
	}
	ul.tags_links li {
		margin: 6px 3px;
	}
	h4.tag_head {
		font-size: 1.2em;
	}
}
@media (max-width:768px){
	span.menu{
		width:32px;
		height:32px;
		background:url(../images/nav.png)no-repeat;
		display:block;
		margin: 1.2em 1em 0;
		float:right;
		cursor: pointer;
	}
	.navigation{
		width:100%;
		float:none;
	}
	.navigation ul.navig{
		display: none;
		text-align: center;
		padding: 0em;
		margin: 1em;
		background: #fff;
	}
	.navigation ul.navig li{
		display: block;
		margin:0 0;
	}
	.navigation ul.navig li a{
		display: block;
		color:#000;
	}
	.navigation ul.navig li a:hover{
		border-radius:0;
	}
	.clear{
		clear:both;
	}
	.banner h1, .banner h2 {
		font-size: 3em;
	}
	#slider3-pager a {
		padding: 0;
		width: 63%;
	}
	#slider3-pager img {
		float: left;
		width: 100%;
	}
	.login-left {
		padding: 0 0em 0;
		margin-top: 2em;
	}
	.banner {
		min-height: 366px;
	}
	.rslides_tabs li:first-child {
		margin-right: -2em;
	}
	.rslides_tabs li{
		margin-right:0;
	}
	img.seller-img {
		margin-top: 3em;
		width: 100%;
	}
	span.sale-nip {
		left: -9%;
	}
	.seller-column1 h4 {
		font-size: 1.1em;
	}
	.seller-column1 h3 {
		font-size: 8em;
		top: -5%;
	}
	.seller-column1 p {
		font-size: 3em;
	}
	.price a {
		font-size: 0.8em;
		padding: 10px 8px;
	}
	span.rating {
		font-size: 0.85em;
		margin: 0 0em 0 0.25em;
	}
	i.ratings {
		height: 10px;
		width: 55px;
		background: url(../images/stars.png)no-repeat 2px;
		display: inline-block;
		background-size: 104%;
	}
	p.customer {
		font-size: 0.85em;
	}
	.seller-column1 {
		background: #e6ddda;
		min-height: 264px;
	}
	.biseller-name {
		width: 70%;
	}
	.biseller-name h4 {
		font-size: 1em;
	}
	.biseller-name1 p {
		font-size: 1em;
	}
	.price-s a {
		font-size: 0.85em;
		padding: 10px 13px;
	}
	.footer {
		min-height: 280px;
		padding-top: 8em;
	}
	.product {
		width: 100%;
		margin-bottom: 0%;
	}
	.new-product {
		width: 100%;
	}
	.etalage_zoom_area div {
		width:200px !important;
		height:300px !important;
	}
	li.etalage_magnifier div {
		width: 120px !important;
	}
	p.title {
		font-size: 0.75em;
	}
	.pricey {
		font-size: 0.7em;
	}
	.rslides {
		min-height: 308px;
	}
	.rslides_tabs {
		top: 74%;
	}
	.labout {
    width: 63%;
	}
}

@media (max-width:640px){
	 body {
		padding: 1em 0 3em;
	}
	.banner h1, .banner h2 {
		font-size: 2.5em;
	}
	.rslides_tabs {
		top: 65%;
		left: 14%;
	}
	.banner {
		min-height: 314px;
	}
	.seller-column {
		width: 100%;
	}
	img.seller-img {
		margin-top: 1em;
		width: 71%;
	}
	.seller-column1 {
		width: 100%;
	}
	span.sale-nip {
		top: -8%;
		left: 35%;
		transform: rotate(179deg);
	}
	ul.bottom-list li {
		display: inline-block;
		margin: 0 6px;
	}
	.span_2_of_al {
		width: 100%;
	}
	.view .mask, .view .content {
		top: 6em;
		left: 2.2em;
	}
	.rslides_tabs {
		top: 75%;
	}
}
@media (max-width:568px){
	.labout {
		width: 70%;
	}
}
@media (max-width:480px){
	.banner h1, .banner h2 {
		font-size: 1.8em;
		margin-bottom:-10px;
	}
	#slider3-pager a {
		width: 44%;
	}
	.rslides_tabs li:first-child {
		margin-right: -5em;
	}
	.rslides_tabs li {
		margin-right: -2em;
	}
	.banner {
		min-height: 230px;
		padding:3em 0;
	}
	.rslides {
		min-height: 222px;
	}
	.logo a img {
		width: 66%;
	}
	span.menu {
		margin: 0.5em 1em 0;
	}
	.header {
		margin-top: 1em;
	}
	.footer {
		min-height: 196px;
		padding-top: 6em;
	}
	.footer a {
		font-size: 1em;
	}
	ul.payment-list {
		margin-bottom: 1em;
	}
	.today-new-left {
		width: 48%;
	}
	.span_1_of_contact {
		width: 100%;
		margin-bottom: 2em;
	}
	.contact_grid {
		width: 100%;
	}
	.labout {
		width: 100%;
	}
	.imagezoom-cursor,.imagezoom-view{
		display:none;		
	}
}
@media(max-width:384px){
	.new-product {
    padding: 1em;
}
	
}
@media(max-width:320px){
	.banner h1, .banner h2 {
		font-size: 1.5em;
		margin-bottom:0;
	}
	#slider3-pager a {
		width: 30%;
	}
	.rslides_tabs li:first-child {
		margin-right: -7em;
	}
	.rslides_tabs {
		top: 70%;
		left: 6%;
	}
	.rslides_tabs li {
		margin-right: -4em;
	}
	.banner {
		min-height: 183px;
		padding: 2em 0;
	}
	.rslides {
		min-height: 181px;
	}
	.seller-column1 {
		padding: 1em 0em 1em 1em;
	}
	.seller-column1 p {
		font-size: 1.5em;
	}
	.seller-column1 h3 {
		font-size: 5em;
		top: -3%;
	}
	.price a {
		font-size: 0.7em;
	}
	span.rating {
		font-size: 0.6em;
		margin: 0 0em 0 0em;
	}
	p.customer {
		font-size: 0.851em;
	}
	.seller-column1 {
		background: #e6ddda;
		min-height: 201px;
	}
	.biseller-column img {
		margin-bottom: 0.2em;
		width: 79%;
	}
	.veiw-img-mark a {
		padding: 5px;
		font-size: 0.75em;
	}
	.veiw-img-mark {
		top: 29%;
		left: 30%;
	}
	.price-s a {
		font-size: 0.7em;
		padding: 6px 4px;
	}
	.price-s {
		margin: 2em 0 1em;
	}
	.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
		margin-top: 2em;
	}
	ul.bottom-list li {
		display: block;
		margin: 0 0px;
	}
	ul.payment-list li {
		display: inline-block;
		margin: 0 0px;
	}
	p.copyright {
		margin-bottom: 0em;
	}
	.sale-box span.on_sale {
		padding: 4px 35px 0 5px;
		text-align: right;
		left: -132px;
	}
	.sale-box {
		height: 62px;
		width: 90px;
	}
}
/*--- Media Queries Ends Here ---*/